/* Navigation Styles */
header {
    background: #333;
    padding: 36px 0;
    text-align: center;
  }
 
 
 header ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
 }
 
 
 header ul li {
    margin: 0 90px;
 }
 
 
 header ul a {
    color: #fff;
    text-decoration: none;
    font-size: 26px;
    text-transform: uppercase;
 }
 
 
 header ul a:hover {
    color: #77aaff;
 }
 .nav-icon {
    width: 16px;
    height: 16px;
    margin-right: 5px;
 }
 
 
 /*-- -------------------------- -->
 <---           Hero             -->
 <--- -------------------------- -*/
 /* Existing styles... */
 
 
 /* Mobile - 360px */
 @media only screen and (min-width: 0rem) {
    #hero-1785 {
      padding: clamp(8rem, 5vw, 4rem) 1rem; /* Adjusted padding */
      overflow: hidden;
      position: relative;
      z-index: 1;
    }
    #hero-1785 .cs-container {
      width: 90%;
      max-width: 60rem;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 3rem;
    }
    #hero-1785 .cs-content {
      text-align: center;
      width: 100%;
      max-width: 46.875rem;
      color: #ebe5e5;
      margin-bottom: 45px;
    }
 
 
    #hero-1785 .cs-title {
      font-size: 45px;
      margin-bottom: 50px;
    }
    #hero-1785 .cs-title {
      color: aqua;
    }
    #hero-1785 .cs-text {
      color: var(--bodyTextColorWhite);
    }
    #hero-1785 .cs-text {
      margin-bottom: 2rem;
    }
    #hero-1785 .cs-button-group {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 0.5rem;
    }
    #hero-1785 .cs-button-solid {
      font-size: 1rem;
      font-weight: 700;
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      text-align: center;
      text-decoration: none;
      min-width: 12.5rem;
      margin: 0;
      box-sizing: border-box;
      padding: 0 1.5rem;
      background-color: var(--primary);
      color: var(--bodyTextColorWhite);
      border-radius: 0.25rem;
      display: inline-block;
      position: relative;
      z-index: 1;
    }
    #hero-1785 .cs-button-solid:before {
      content: "";
      width: 0%;
      height: 100%;
      background: #000;
      opacity: 1;
      border-radius: 0.25rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: width 0.3s;
    }
    #hero-1785 .cs-button-solid:hover:before {
      width: 100%;
    }
    #hero-1785 .cs-graphic {
      width: 100%;
      min-width: 120rem;
      height: auto;
      object-fit: cover;
      position: absolute;
      bottom: 0;
      left: 50%;
      z-index: 0;
      transform: translateX(-50%);
    }
    #hero-1785 .cs-graphic-dark {
      display: none;
    }
    #hero-1785 .cs-background {
      width: 130%;
      height: 65%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -2;
    }
    #hero-1785 .cs-background:before {
      content: "";
      width: 100%;
      height: 100%;
      background: #322f2f;
      pointer-events: none;
      opacity: 0.7;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
    #hero-1785 .cs-background img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  /* Large Desktop - 1920px */
  @media only screen and (min-width: 120rem) {
    #hero-1785 {
      padding-bottom: 14vw;
    }
  }
 
 
 /* Footer Styles */
 footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0; /* Reduced padding */
    text-align: center;
    font-family: 'Arial', sans-serif;
 }
 
 
 .footer-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 
 
 .newsletter {
    margin-bottom: 10px; /* Reduced margin */
 }
 
 
 .newsletter h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #fff;
 }
 
 
 #newsletter-form {
    display: flex;
    justify-content: center;
    gap: 10px;
 }
 
 
 .input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 10px;
 }
 
 
 .input-group label {
    margin-bottom: 5px;
    font-size: 18px;
    color: #fff;
 }
 
 
 .input-group input {
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
 }
 
 
 button[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #77aaff;
    color: #fff;
    cursor: pointer;
 }
 
 
 button[type="submit"]:hover {
    background-color: #5599dd;
 }
 
 
 .contact-info p {
    margin: 10px 0; /* Reduced margin */
    font-size: 16px;
    color: #fff;
 }
 
 
 .social-media {
    margin-top: 10px; /* Reduced margin */
 }
 
 
 .social-media h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #fff;
 }
 
 
 .social-media a {
    margin: 0 10px;
    display: inline-block;
 }
 
 
 .social-media img {
    width: 24px;
    height: 24px;
    filter: invert(100%);
 }
 
 
 
 
 .button-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
 }
 .cs-button-6 {
    text-align: center;
    font-size: 35px; /* Reduced font size */
    line-height: 3rem; /* Adjusted line height */
    text-decoration: none;
    font-weight: 700;
    min-width: 20rem; /* Adjusted min-width */
    margin: 0 20px; /* Adjusted margin */
    color: #eeebeb;
    padding: 1rem 5rem; /* Adjusted padding */
    box-sizing: border-box;
    background-color: #fff;
    border: 3px solid #1a1a1a;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5rem; /* Adjusted gap */
    position: relative;
    z-index: 1;
    transition: color 0.3s;
    background-color: rgb(62, 172, 208);
 }
 .cs-button-6:before {
    content: "";
    width: 0.375rem;
    height: 100%;
    background: #1a1a1a;
    opacity: 1;
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    transition: width 0.3s;
    z-index: -1;
 }
 .cs-button-6 .cs-icon {
    width: 1.5rem;
    height: auto;
 }
 .cs-button-6 .cs-icon path {
    transition: fill 0.3s;
 }
 .cs-button-6:hover {
    color: #fff;
 }
 .cs-button-6:hover:before {
    width: 100%;
 }
 .cs-button-6:hover .cs-icon path {
    fill: #fff;
 }
 /* Styles for the horizontal lines */
 .horizontal-line {
    border: 0;
    border-top: 10px solid #b0c4c7;
    width: 80%;
    margin: 20px auto;
 }
 
 
 /* Video Carousel Section */
 #video-carousel {
    padding: 20px 0; /* Adjust padding as needed */
    margin-top: -60px; /* Adjust margin to move the section up */
    text-align: center;
 }
 
 
 .carousel-container {
    max-width: 900px;
    margin: auto;
 }
 
 
 .carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; /* Add gap to space out buttons */
 }
 
 
 .carousel-videos {
    display: flex;
    overflow: hidden;
    width: 100%; /* Make the video full width */
 }
 
 
 .carousel-videos iframe {
    width: 100%; /* Make the video full width */
    height: 450px; /* Adjust height as needed */
 }
 
 
 .carousel-prev,
 .carousel-next {
    background: #333;
    color: #fff;
    border: none;
    padding: 20px; /* Adjust padding as needed */
    cursor: pointer;
    font-size: 26px;
 }
 
 
 .carousel-prev:hover,
 .carousel-next:hover {
    background: #77aaff;
 }
 
 
 /* Information Section */
 #info-section {
    padding: 20px 0; /* Adjust padding as needed */
    text-align: center;
 }
 
 
 .info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
    background-color: #f4f4f4; /* Background color for the entire container */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for the container */
 }
 
 
 .info-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px 0 0 8px; /* Rounded corners on the left side */
 }
 
 
 .info-content {
    padding: 20px;
    text-align: left;
    background: #8f8e8e; /* Match background color */
    border-radius: 0 8px 8px 0; /* Rounded corners on the right side */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 }
 
 
 .info-content p {
    font-size: 18px;
    margin: 0 0 20px;
    color: #333; /* Text color */
    line-height: 1.5; /* Line height for better readability */
 }
 
 
 .learn-more-btn {
    display: inline-block;
    background: #333;
    color: #f9f8f8;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease;
    font-size: 16px; /* Font size for the button text */
    font-weight: bold; /* Bold text */
    position: relative;
    overflow: visible; /* Allow overflow for the arrow */
 }
 
 
 .learn-more-btn::after {
    content: '➡';
    position: absolute;
    right: -30px; /* Position the arrow outside the button */
    top: 50%;
    transform: translateY(-50%);
    transition: right 0.3s ease;
    font-size: 16px; /* Font size for the arrow */
 }
 
 
 .learn-more-btn:hover {
    background: #77aaff;
 }
 
 
 .learn-more-btn:hover::after {
    right: -20px; /* Move the arrow closer on hover */
 }
 
 
 